{% import 'base_helper.tmpl' as base with context %}
{{ set_locale(lang) }}

{% macro title() %}Follow your developer dreams{% endmacro %}
{% macro description() %}
Choose your route. Take on your developer dream in Catalina City. Make new friends and enemies. Get your game published.
{% endmacro %}
{% macro call_to_action() %}
<a href="https://marquiskurt.itch.io/unscripted" class="ms-cta-button"><i data-feather="shopping-cart"></i> Get the demo</a>
{% endmacro %}
{% macro hero() %}
<div>
    <img class="ms-shadowed strong" src="/assets/img/new_hero.png" />
</div>
{% endmacro %}
{% macro extras() %}
<div class="ms-strip">
    <p>Take on your developer dream in Catalina City in <i>Unscripted</i>! Follow the journey of a software developer aspiring to publish their video game into the PackStore's prestigious arcade while starting a new life in Catalina City, the city for software developers. Reconnect and meet close friends like Zen'no, new peers like Katorin, the Kotlin-loving developer, and possibly new enemies like Christina, an enigmatic Python developer.</p>
</div>
<div class="ms-strip grid-half">
    <div class="pa-1">
        <img class="ms-shadowed strong" src="/assets/img/preview1.png" />
    </div>
    <div class="pa-1">
        <img class="ms-shadowed strong" src="/assets/img/preview2.png" />
    </div>
</div>
<div class="ms-strip darker">
    <h2>Features</h2>
    <p>
        <ul>
            <li>Discord rich presence integration with each chapter (opt-in by default)</li>
            <li>Personalized routes based on choices and story maps (four base routes)</li>
            <li>Ambient sounds and support for emphasizing sound effects and ambience over music</li>
            <!-- <li>Free and open-source core module for better modding support and fan games</li> -->
            <li>Ability to switch to the Lexend font and variant to increase readability</li>
            <li>Puzzle mini-game with <a href="https://fira.marquiskurt.net">advanced scripting support</a></li>
            <li>Rich notifications and realistic desktop via <a href="https://aliceos.app">AliceOS</a></li>
            <!-- <li>Support for small mods à la &quot;Dreams&quot;</li> -->
        </ul>
    </p>
</div>
{% endmacro %}