{% import 'base_helper.tmpl' as base with context %}
{{ set_locale(lang) }}

{% macro title() %}Follow your developer dreams{% endmacro %}
{% macro description() %}
Choose your route. Take on your developer dream in Catalina City. Make new friends and enemies. Get your game published.
{% endmacro %}
{% macro call_to_action() %}
<p><span id="itch_download" class="ms-cta-button"><i data-feather="shopping-cart"></i> Get the demo</span></p>
<p><small>Or <a class="ms-fp-alt_link" href="https://marquiskurt.itch.io/unscripted" rel="noreferrer noopener">view on Itch.io &rsaquo;</a></small></p>
{% endmacro %}
{% macro hero() %}
<div style="padding-bottom:0;">
    <img src="/assets/img/cast.png" style="transform:matrix(1.2, 0, 0, 1.2, 0, -16);"/>
</div>
{% endmacro %}
{% macro extras() %}
<div class="ms-strip" style="z-index:2;position:relative;">
    <p>Take on your developer dream in Catalina City in <i>Unscripted</i>! Follow the journey of a software developer aspiring to publish their video game into the PackStore's prestigious arcade while starting a new life in Catalina City, the city for software developers. Reconnect and meet close friends like Zen'no, new peers like Katorin, the Kotlin-loving developer, and possibly new enemies like Christina, an enigmatic Python developer.</p>
</div>
<div class="ms-strip grid-half" style="padding-bottom: 0;">
    <div class="pa-1">
        <img class="ms-shadowed strong" src="/assets/img/preview1.png" />
    </div>
    <div class="pa-1">
        <img class="ms-shadowed strong" src="/assets/img/preview2.png" />
    </div>
</div>
<div class="ms-strip grid-half" style="padding-top:0;">
    <div class="pa-1">
        <img class="ms-shadowed strong" src="/assets/img/preview3.png" />
    </div>
    <div class="pa-1">
        <img class="ms-shadowed strong" src="/assets/img/preview4.png" />
    </div>
</div>
<div id="stickers" class="ms-strip grid-half ms-front-container">
    <div class="pa-1">
        <h3>Get Unscripted stickers for Telegram and iMessage</h3>
        <p>Send stickers of your favorite Unscripted characters to your friends, colleagues, and family on Telegram and iMessage!</p>
        <p class="sticker-buttons">
            <a href="https://apps.apple.com/app/id1515546896" class="apple">
                <img src="/assets/img/apple.svg"/>
            </a>
            <a href="https://t.me/addstickers/Unstickered" class="ms-cta-button telegram">
                <i data-feather="send"></i> Add to Telegram
            </a>
        </p>
    </div>
    <div class="pa-1" style="text-align:center;">
        <img src="/assets/img/imessage.png" style="width:50%;"/>
    </div>
</div>
<script type="text/javascript" src="https://static.itch.io/api.js"></script>
<script type="text/javascript" src="/assets/js/itchy.js"></script>
<script type="text/javascript" src="/assets/js/utils.js"></script>
<script type="text/javascript">
window.onload = () => linkGameButton();
</script>
<style>
.ms-fp-alt_link {
    color: var(--color-link);
}

.ms-fp-alt_link:hover {
    color: #E6B673;
}

div#stickers {
    color: var(--color-special-text);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(/assets/img/random/2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sticker-buttons {
    display:flex;
    height:46px;
    justify-content: center;
    justify-items: center;
}

.sticker-buttons .telegram {
    background-color: #0088cc;
    color: white;
}

.sticker-buttons a.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.sticker-buttons .apple {
    padding-right: 12px;
    height: 100%;
}

.sticker-buttons .apple img {
    height: 100%;
}

@media(max-width:768px) {
    .sticker-buttons {
        display:flex;
        height:100%;
        flex-direction:column;
        text-align:center;
    }

    .sticker-buttons a {
        padding: 10px;
    }

    .sticker-buttons .apple {
        padding-left: inherit;
    }

    .sticker-buttons .apple img {
        height: 48px;
    }
}
</style>
{% endmacro %}
