.ms-navbar-container.transparent {
  background: rgba(0, 0, 0, 0.1);
}

.ms-front-container {
  background: linear-gradient(
    to bottom right,
    #e04698,
    #ae56a9,
    #6d6db5,
    #388bd5
  );
  box-shadow: inset var(--shadow-standard);
}

.ms-fp-alt_link {
  color: var(--color-link);
}

.ms-fp-alt_link:hover {
  color: #e6b673;
}

.simpleParallax {
  overflow: initial !important;
}

img#px-cast {
  transform: matrix(1.2, 0, 0, 1.2, 0, -16);
  z-index: -1;
}

div#stickers {
  color: var(--color-special-text);
  background: linear-gradient(
    to bottom right,
    #e04698,
    #ae56a9,
    #6d6db5,
    #388bd5
  );
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.equine-loaded {
  display: none;
}

.sticker-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
}

.sticker-buttons > a {
  max-height: 46px;
}

.sticker-buttons .telegram {
  background-color: #0088cc;
  color: white;
}

.cta-message {
  background-color: var(--color-strip);
  color: var(--color-strip-text);
  padding: 2px 8px;
  border-radius: 6px;
  border-top-color: var(--color-link);
  border-top-style: solid;
  border-top-width: 8px;
  z-index: 100;
}

.cta-message p {
  padding: 2px;
  margin: 0;
}

.cta-message span {
  font-weight: 600;
}

.cta-message p > small {
  margin-top: 0;
  padding-top: 0;
}

.cta-buttons-container {
  display: flex;
  flex-wrap: wrap;
  z-index: 50;
  margin-bottom: 10%;
  max-width: 100%;
}

.cta-buttons-container > a {
  margin: 8px;
  height: 28px;
}

.cta-buttons-container .steam {
  background: linear-gradient(to bottom right, #2a475e, #1b2838);
  color: white;
}

.cta-buttons-container .steam:hover {
  background: #00adee;
}

.cta-buttons-container .itch {
  background-color: #fa5c5c;
  color: white;
}

.cta-buttons-container .gjolt {
  background-color: #ccff00;
  color: black;
}

.cta-buttons-container .dlsite {
  background-color: #032a83;
  color: #ffffff;
}

.cta-buttons-container .gjolt img {
  height: 24px;
}

.cta-buttons-container .itch img {
  height: 24px;
}

.cta-buttons-container img {
  height: 40px;
  width: auto !important;
}

.cta-buttons-container .steam img {
  margin-top: -8px;
}

.sticker-buttons .telegram:hover {
  background-color: #5cb8ff;
}

.sticker-buttons a.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.sticker-buttons .apple {
  padding-right: 12px;
  height: 100%;
}

.sticker-buttons .apple img {
  height: 100%;
}

.carousel-cell {
  width: 100%;
  margin-right: 10px;
}

.carousel-cell img {
  width: 100%;
}

@media (max-width: 768px) {
  .sticker-buttons {
    margin-top: 25%;
    margin-bottom: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    text-align: center;
    z-index: 50;
  }

  .sticker-buttons a {
    padding: 8px;
  }

  .sticker-buttons .apple {
    padding-left: inherit;
    height: auto;
  }

  .sticker-buttons .apple img {
    height: 48px;
  }

  .cta-buttons-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 50%;
  }

  .cta-buttons-container > a {
    height: 32px;
    margin: 8px;
  }

  .cta-buttons-container a:not(:last-child) {
    margin-bottom: 8px;
    margin-right: inherit;
  }

  .cta-buttons-container .steam img {
    margin-top: -4px;
  }

  img#px-cast {
    transform: matrix(1.2, 0, 0, 1.2, 0, -4);
  }
}
